@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        footer {
            width: 100%;
            background: #202020;
            color: white;
        }

        .container-footer-all {
            margin: auto;
            padding: 40px;   
        }

        .container-body {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            flex-wrap: wrap;
        }

        .colum1 {
            max-width: 400px;
            min-width: 200px;
        }

        .colum1 h1 {
            font-size: 22px;
        }

        .colum1 p {
            font-size: 14px;
            color: #C7C7C7;
            margin-top: 20px;
        }

        .colum2 {
            max-width: 400px;
            min-width: 200px;
        }

        .colum2 h1 {
            font-size: 22px;
        }

        .row {
            margin-top: 20px;
            display: flex;
        }

        .row img {
            width: 36px;
            height: 36px;
        }

        .row label {
            margin-top: 10px;
            margin-left: 20px;
            color: #C7C7C7;
        }

        .colum3 {
            max-width: 400px;
            min-width: 200px;
        }

        .colum3 h1 {
            font-size: 22px;
        }

        .row2 {
            margin-top: 20px;
            display: flex;
        }

        .row2 img {
            width: 36px;
            height: 36px;
        }
        .colum1 img {
            width: 300px;
            height: 100px;
        }

        .row2 label {
            margin-top: 10px;
            margin-left: 20px;
            color: #C7C7C7;
        }

        .container-footer {
            width: 100%;
            background: #101010;
        }

        .footer {
            max-width: 1200px;
            margin: auto;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 20px;
        }

        .copyright {
            color: #C7C7C7;
        }

        .copyright a {
            text-decoration: none;
            color: white;
            font-weight: bold;
        }
        .information {
        }

        .information a {
            text-decoration: none;
            color: #C7C7C7;
        }
           
    </style>
</head>
<body>
    <footer>

        <div class="container-footer-all">

            <div class="container-body">

                <div class="colum1">
                    <img src="~/Icons/univalle.png" />
                    <h1>Sobre Univalle</h1>
                    <p>
                        La Universidad asume como visión institucional,
                        el concepto de que la formación profesional de pregrado y postgrado,
                        junto con la utilización y aplicación plenas del avance científico
                        y tecnológico, contribuirán a la creación de bienestar social.
                    </p>
                </div>
                <div class="colum2">
                    <h1>En las Redes</h1>
                    <div class="row">
                        <img src="~/Icons/facebook.png" />
                        <label>Facebook Cochabamba</label>
                    </div>
                    <div class="row">
                        <img src="~/Icons/instagram.png">
                        <label>Instagram Univalle</label>
                    </div>
                    <div class="row">
                        <img src="~/Icons/youtube.png">
                        <label>Youtube Univalle</label>
                    </div>
                </div>
                <div class="colum3">
                    <h1>Comunicate</h1>
                    <div class="row2">
                        <img src="~/Icons/house.png">
                        <label>
                            Campus Universitario Tiquipaya
                            Calle Guillermina Martinez s/n
                        </label>
                    </div>
                    <div class="row2">
                        <img src="~/Icons/smartphone.png">
                        <label>
                            Telefono:
                            (591)4-4318800
                            Fax:
                            (591)4-4317532(3)
                            4315148-4315886
                        </label>
                    </div>
                    <div class="row2">
                        <img src="~/Icons/contact.png">
                        <label>info@univalle.edu</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2021 Univalle Todos los Derechos Reservados.
                </div>
                <div class="information">
                    <a href="">Informacion Compañia</a> | <a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
                </div>
            </div>

        </div>

    </footer>
</body>
</html>
