@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style type="text/css">
        footer {
            width: 100%;
            background: #202020;
            color: white;
        }

        .container-footer-all {
            width: 100%;
            max-width: 1200px;
            margin: auto;
            padding: 40px;
        }

        .container-body {
            display: flex;
            justify-content: space-between;
        }

        .colum1 {
            max-width: 400px;
        }

            .colum1 h1 {
                font-size: 22px;
            }

            .colum1 p {
                font-size: 14px;
                color: #C7C7C7;
                margin-top: 20px;
            }

        .colum2 {
            max-width: 400px;
        }

            .colum2 h1 {
                font-size: 22px;
            }

        .row {
            margin-top: 20px;
            display: flex;
        }

            .row img {
                width: 36px;
                height: 36px;
            }

            .row label {
                margin-top: 10px;
                margin-left: 20px;
                color: #C7C7C7;
            }

        .colum3 {
            max-width: 400px;
        }

            .colum3 h1 {
                font-size: 22px;
            }

        .row2 {
            margin-top: 20px;
            display: flex;
        }

            .row2 img {
                width: 36px;
                height: 36px;
            }

        .colum1 img {
            width: 300px;
            height: 100px;
        }

        .row2 label {
            margin-top: 10px;
            margin-left: 20px;
            max-width: 200px;
        }

        .container-footer-header {
            width: 100%;
            background: #101010;
        }

        .footer {
            max-width: 1200px;
            margin: auto;
            display: flex;
            justify-content: space-between;
            padding: 20px;
        }

        .copyright {
            color: #C7C7C7;
        }

            .copyright a {
                text-decoration: none;
                color: white;
                font-weight: bold;
            }

        .information a {
            text-decoration: none;
            color: #C7C7C7;
        }

        .auto-style4 {
            height: 50px;
            width: 113px;
        }

        .auto-style5 {
            width: 144px;
            height: 141px;
        }

        .auto-style7 {
            width: 465px;
            color: #C7C7C7;
        }

        .auto-style8 {
            height: 50px;
            width: 192px;
        }

        .auto-style9 {
            height: 50px;
            width: 212px;
        }
    </style>
</head>
<body>
    <div>
        <header>
            <table style="text-align: center" class="container-footer-header">
                <tbody>
                    <tr>
                        <td class="auto-style7">
                            <ul class="mainmenu" style="text-align: left">
                                <li id="ContentPlaceHolder1_liInicio">
                                    <input type="button" name="btnPageInicio" value="INICIO" style="display: inline-block; font-size: 15px; background-color: black; color: white" class="auto-style4" />
                                    <br />
                                    <br />
                                <li id="ContentPlaceHolder1_liMaterias">
                                    <input type="button" name="btnPageMaterias" value="MATERIAS" style="display: inline-block; font-size: 15px; background-color: black; color: white" class="auto-style4" />
                                    <br />
                                    <br />
                                <li id="ContentPlaceHolder1_liMateriasPre">
                                    <input type="button" name="btnPageMateriasPre" value="MATERIAS PRE-REQUISITO" style="width: 210px; display: inline-block; font-size: 15px; background-color: black; color: white" class="auto-style4" />
                                    <br />
                                    <br />
                                <li id="ContentPlaceHolder1_liDocente">
                                    <input type="button" name="btnPageDocentes" value="DOCENTES" style="display: inline-block; font-size: 15px; background-color: black; color: white" class="auto-style4" />

                                    <br />
                                    <br />
                                </li>
                                <li id="ContentPlaceHolder1_liCerrarSesion">
                                    <input type="button" name="btnPageCerrarSesion" value="CERRAR SESION" style="width: 150px; display: inline-block; font-size: 15px; background-color: black; color: white" class="auto-style4" />
                                    @{ 
                                        
                                    }
                            </ul>
                        </td>
                        <td>
                            <img src="~/Icons/logoUnivalle.png" class="auto-style5" />
                            <br />
                            <label CssClass="auto-style7">La respuesta científica al futuro</label>
                        </td>
                    </tr>
                </tbody>
            </table>
        </header>
    </div>
</body>
</html>
